#skills {
    background: #edf6ff;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

.colored {
    font-size: 60px;
    margin: 0px;
}

.dev {
    margin: auto;
    img {
        width: 80px;
        height: 80px;
        padding-bottom: 20px;
    }
    margin-top:25px;
}

@media screen and (min-width: 321px) {
    .colored {
        font-size: 60px;
        margin: 0px 15px 0px 15px;
    }
}

@media screen and (min-width: 576px) {
    .main-tech {
        margin: 40px 0px 0px 0px;
    }
    .colored {
        font-size: 80px;
        margin: 0px 15px 0px 15px;
    }
    .dev {
        margin: auto;
        img {
            width: 100px;
            height: 100px;
            padding-bottom: 20px;
        }
    }
}